# ─── Copia este archivo como .env y rellena los valores ───────────────────────
# cp .env.template .env

# Flask
MENU_FLASK_ENV=development
MENU_FLASK_DEBUG=1

# Base de datos PostgreSQL
MENU_DATABASE_HOST=localhost
MENU_DATABASE_USER=tu_usuario
MENU_DATABASE_PASS=tu_password
MENU_DATABASE_DB=menu_digital_api
MENU_DATABASE_PORT=5432

# Seguridad
MENU_SECRET_KEY=cambia_esto_por_un_string_aleatorio_seguro
MENU_JWT_SECRET_KEY=otro_string_aleatorio_para_jwt

# Imágenes
UPLOAD_FOLDER = 'static/uploads/platillos'
MENU_MAX_CONTENT_LENGTH=5242880

# Logs
MENU_LOG_FILE_ROUTE=logs/
